<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.metasql.mapper.AssembleMapper">

    <sql id="commonSql">
        ${columns.columnName} ${columns.columnType}

        <if test="columns.isNull">
            NULL
        </if>
        <if test="!columns.isNull">
            NOT NULL
        </if>
        <if test="columns.isAutoInc">
            AUTO_INCREMENT
        </if>
        <!-- 不是自增长的才能有默认值 -->
        <!-- 并且不为null时，因为null是默认的没必要写 -->
        <if test="!columns.isAutoInc and !columns.isNull and columns.defaultValue != null">
            DEFAULT ${columns.defaultValue}
        </if>
        <!-- 不是自增长的才能有默认值 -->
        <!-- 允许是空时，并且默认值不是NUll -->
        <if test="!columns.isAutoInc and columns.isNull and columns.defaultValue != null">
            DEFAULT ${columns.defaultValue}
        </if>
        <if test="columns.fieldComment != ''">
            COMMENT ${columns.columnComment}
        </if>
    </sql>

    <select id="deleteTableField">
        alter table #{tableName} drop ${columns.columnName}
    </select>

    <select id="addTableField">
        alter table #{tableName} add
        <include refid="commonSql"></include>
        <if test="columns.isPk">
            PRIMARY KEY
        </if>
    </select>

    <!-- 修改字段 -->
    <select id="modifyTableField">

        alter table #{tableName} change ${columns.oldColumnName} ${columns.newColumnName}
        <include refid="commonSql"></include>
        <if test="columns.isPk">
            PRIMARY KEY
        </if>

    </select>

    <select id="executeSql" statementType="STATEMENT">
        ${sqlText}
    </select>

</mapper>
